.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.gallery-item {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.image-container {
  position: relative;
}

.gallery-image {
  width: 100%;
  height: auto;
  display: block;
}

.delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: red;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.camera-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.webcam-container {
  width: 100%;
  max-width: 800px; /* Adjust max width as needed */
  margin-bottom: 20px;
}

.controls-container {
  display: flex;
  flex-direction: column; /* Adjusted to column layout */
  align-items: center; /* Center align items */
  margin-bottom: 20px;
}

.aspect-ratio-selector,
.zoom-controls {
  margin-bottom: 10px; /* Adjusted margin for spacing between buttons */
}

.capture-button {
  background-color: green;
  color: white;
  padding: 10px 20px 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .controls-container {
    flex-direction: column;
    align-items: center;
  }

  .aspect-ratio-selector,
  .zoom-controls {
    margin-bottom: 10px;
  }
}

@media (max-width: 600px) {
  .webcam-container {
    max-width: calc(100% - 40px); /* Adjust margins for smaller screens */
  }
}
