.camera-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .button-container {
    flex-direction: column;
    align-items: center;
  }
}

.capture-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.capture-button:hover {
  background-color: #45a049;
}

.colored {
  background-color: #007bff;
}

.colored:hover {
  background-color: #0056b3;
}
.webcam-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.webcam-wrapper {
  width: 100%;
  max-width: 600px; 
}

.fixed-webcam-container {
  width: 100%;
  max-width: 600px; 
}

.webcam {
  width: 100%;
}

@media (max-width: 768px) {
  .webcam-wrapper,
  .fixed-webcam-container {
    max-width: 100%;
  }
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  margin: 230px;
  box-shadow: rgba(223, 153, 153, 0.24) 0px 3px 6px;
  padding-right: 15px;
}

.gallery-item {
  position: relative;
  width: 100%;
}

.image-container {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: auto;
}

.gallery-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #c82333;
}
